*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: '微软雅黑';
}
body{
	background: #d25600;
}
.header{
	background: #ff6600;
    box-shadow:0px 5px 15px rgba(20%,20%,40%,0.1);
    text-align: center;
    color: #fff;
    font-weight: bolder;
    font-size: 40px;
    padding: 20px 0;
}
.header ul{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
.header img{
	margin: 20px;
}
.header ul li{
	float: left;
}
.header a{
	display: inline-block;
	width: 198px;
	text-align: center;
	line-height: 104px;
	color: #fff;
	font-size: 20px;
}
.header a:hover{
	background: #d25600;
}
.list{
	padding: 80px;
	overflow: hidden;
}
.list div{
	float: left;
	margin: 0 20px 20px 0;
}
.list p{
	text-align: center;
	color: #fff;
}